<div class="banner">

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <app-formareserva></app-formareserva>
            </div>
        </div>
    </div>
    
    

</div>

<section>
    <app-descripcion></app-descripcion>
</section>

<section>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 g-3">
            <div class="col" *ngFor="let habitacion of habitaciones">
                <div class="card h-100">
                    <img src={{habitacion.fotografias[0]}} alt="" class="img-fluid w-100 h-100">
                    <h1>{{habitacion.nombre}}</h1>
                </div>
            </div>
        </div>
    </div>

</section>
